/* container for simulation + toolbox */
.simulation-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

/* toolbox */
.toolbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  background: #fff;
  min-width: 80px;
}

.toolbox-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fafafa;
  transition: transform 0.1s ease;
}

.toolbox-item:active {
  cursor: grabbing;
  transform: scale(0.95);
}

.toolbox-item canvas {
  pointer-events: none; /* makes dragging smoother */
}

.cleared-overlay {
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 40px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.cleared-overlay h2 {  
    font-size: 2rem;
    color: lightgreen;
    font-weight: bold;
 
}

